/** ************************* **/
/** Froont widget base styles **/
/** ************************* **/
.fr-widget h1,
.fr-widget h2,
.fr-widget h3,
.fr-widget h4,
.fr-widget h5,
.fr-widget h6,
.fr-widget p {
  margin: 0;
}
html,
body,
button,
input,
select,
textarea {
  font-family: "PT Sans", Tahoma, Verdana, sans-serif;
}
body {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
input: focus, textarea: focus {
  outline: none;
}
.b-content {
  font-size: 1.6em;
  padding-top: 0.02px;
}
.b-content.loading {
  opacity: 0;
}
.b-content: after {
  content: ".";
  display: none;
  clear: both;
  line-height: 0;
  height: 0;
}
a {
  color: #000;
  text-decoration: underline;
}
.fr-wf {
  -webkit-transition: opacity .1s linear;
  -moz-transition: opacity .1s linear;
  -o-transition: opacity .1s linear;
  transition: opacity .1s linear;
  word-break: break-word;
}
.wf-loading .fr-wf {
  opacity: 0 !important;
}
.wf-inactive .fr-wf,
.wf-active .fr-wf {
  opacity: 1;
}
.fr-container: after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.fr-widget {
  display: block;
}
.fr-text * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: inherit;
}
.fr-text i {
  font-style: italic;
}
.fr-text u {
  text-decoration: underline;
}
.fr-text del,
.fr-text s,
.fr-text strike {
  text-decoration: line-through;
}
.fr-text b,
.fr-text strong,
.fr-text h1,
.fr-text h2,
.fr-text h3,
.fr-text h4,
.fr-text h5,
.fr-text h6 {
  font-weight: bold;
}
.fr-img {
  line-height: 0;
}
.fr-img img {
  width: 100%;
  max-width: 100%;
}
.fr-svg svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
}
.fr-svg-inner svg {
  position: absolute;
}
/** clear content around grid widget container, because it contains a lot of floated elements **/

.fr-grid: before, .fr-grid: after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.fr-grid > .fr-widget {
  float: left;
}
.fr-video-inner {
  position: relative;
}
.fr-video-inner iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fr_hover-animation {
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: background, color, border-radius;
  -moz-transition-property: background, color, border-radius;
  -o-transition-property: background, color, border-radius;
  transition-property: background, color, border-radius;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.fr-video-inner p {
  display: none;
}
.fr-copyright-footer {
  bottom: 0;
  width: 100%;
}
.fr-copyright-footer.fixed {
  position: fixed;
  left: 0;
}
.fr-copyright-footer > .fr-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #242424;
}
.fr-copyright-footer .fr-made-with-froont {
  width: auto;
  font-family: Arial;
  font-size: .6em;
  line-height: 1.6em;
  text-align: center;
  letter-spacing: .25em;
  margin: 0 auto;
  padding: 2em 0 1em 0;
  color: #979797;
}
.fr-copyright-footer .fr-made-with-froont .fr-text {
  min-width: 100%;
}
.fr-copyright-footer .fr-made-with-froont .fr-text .heart {
  font-size: 2.1em;
}
.fr-copyright-footer .fr-bottom-em-spacer {
  height: 1em;
  background: #242424;
}

/** ******************************** **/
/** End of Froont widget base styles **/
/** ******************************** **/

/** ************************* **/
/** Widget styles             **/
/** ************************* **/
.fr_kosota {
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: .078125em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background: rgba(255, 247, 247, 0);
  z-index: 30;
  min-height: 49em
}
.fr_mivocu {
  display: inline-block;
  width: 25.73238321456849%;
  vertical-align: top;
  margin-top: 7.0537109375em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 20.031347580015613%;
  background-size: auto
}
.fr_bewaju {
  display: inline-block;
  width: 96.8335035750766%;
  font-family: Ubuntu;
  font-size: 7.4em;
  vertical-align: top;
  margin-top: .4905985169491525em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1.8497829417773237%;
  min-height: 1.3117283950617284em
}
.fr_bewaju .fr-text {
  min-width: 100%
}
.fr_rufomi {
  float: none;
  display: block;
  top: 300px;
  width: 74.68599033816426%;
  font-family: Lato;
  font-size: 1.85em;
  vertical-align: top;
  margin-top: .3255208333333333em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 1.4794685990338163%;
  color: #787777;
  min-height: 6.25em
}
.fr_rufomi .fr-text {
  min-width: 100%
}
.fr_rokecu {
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: 12.8154296875em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 1px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  background: #262626;
  min-height: 7.875em
}
.fr_sawocu {
  width: 9.482418016594231%;
  margin-top: -3.375em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 53.73370209403397%;
  min-height: 25em
}
.fr_fipupu {
  width: 9.442907941525089%;
  margin-top: 5.875em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 53.73370209403397%
}
.fr_folabu {
  display: block;
  width: 100%;
  font-family: Pinyon Script;
  font-size: 1.3em;
  text-align: center;
  letter-spacing: .35em;
  margin-top: 1.0944940476190477em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: #a39e9e;
  min-height: 1.8125em
}
.fr_folabu .fr-text {
  min-width: 100%
}
.fr_gadura {
  display: block;
  width: 100%;
  vertical-align: top;
  margin-top: .046875em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 1px;
  background-repeat: no-repeat;
  background-image: url(../images/thumbnail/811dbf76.gif_1000x600.gif);
  background-position: center center;
  background-size: contain;
  min-height: 45.875em
}
.fr_logatu {
  float: none;
  display: block;
  width: 100.16194331983806%;
  font-family: Comfortaa;
  font-size: 2.45em;
  text-align: center;
  vertical-align: top;
  margin-top: .8786817697378305em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  color: white;
  background-position: center center;
  min-height: 2.2051282051282053em
}
.fr_logatu .fr-text {
  min-width: 100%
}
.fr_dakora {
  float: none;
  display: block;
  width: 100.06510416666667%;
  vertical-align: top;
  margin-top: 1.0625em;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 1px;
  color: white;
  background: #107b1b;
  min-height: 10.875em
}
.fr_bibove {
  display: inline-block;
  width: 44.277305428384565%;
  vertical-align: top;
  margin-top: 8.8046875em;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: .8400098103335514%;
  padding-top: 1px;
  min-height: 39em
}
@media screen and (max-width: 1024px) {
  .fr_mivocu {
    display: block;
    width: 46.875%;
    margin-top: 11.4375em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 29.1015625%
  }
}
@media screen and (max-width: 1024px) {
  .fr_bewaju {
    display: inline-block;
    width: 80.34993270524899%;
    vertical-align: top;
    margin-top: .4524629237288136em;
    margin-right: 0;
    margin-left: 2.5403768506056528%
  }
  .fr_bewaju .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 1024px) {
  .fr_rufomi {
    display: block;
    width: 93.94347240915208%;
    vertical-align: top;
    margin-top: .5473958333333333em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 3.7054172274562585%;
    min-height: 9.72972972972973em
  }
  .fr_rufomi .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 1024px) {
  .fr_rokecu {
    display: inline-block;
    vertical-align: top;
    margin-top: 11.9638671875em
  }
}
@media screen and (max-width: 1024px) {
  .fr_bibove {
    display: block;
    width: 72.55859375%;
    vertical-align: top;
    margin-top: 2.9375em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 13.73138427734375%;
    min-height: 34.8125em
  }
}
@media screen and (max-width: 768px) {
  .fr_kosota {
    margin-top: .078125em;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    min-height: 69.3125em
  }
}
@media screen and (max-width: 768px) {
  .fr_mivocu {
    width: 49.21875%;
    margin-top: 1.875em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 26.432291666666668%
  }
}
@media screen and (max-width: 768px) {
  .fr_bewaju {
    width: 84.92063492063492%;
    margin-top: .46296296296296297em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.084656084656085%;
    min-height: 1.2037037037037037em
  }
  .fr_bewaju .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 768px) {
  .fr_rufomi {
    width: 86.77248677248677%;
    margin-top: .27027027027027023em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 5.82010582010582%;
    min-height: 9.72972972972973em
  }
  .fr_rufomi .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 768px) {
  .fr_rokecu {
    display: block;
    margin-top: 5.8505859375em
  }
}
@media screen and (max-width: 768px) {
  .fr_bibove {
    display: block;
    width: 98.4375%;
    margin-top: 2.25em;
    margin-right: 0;
    margin-left: 1.3020833333333335%
  }
}
@media screen and (max-width: 480px) {
  .fr_mivocu {
    width: 71.45833333333334%;
    margin-top: 2.25em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 16.25%
  }
}
@media screen and (max-width: 480px) {
  .fr_bewaju {
    width: 89.79166666666667%;
    font-size: 4.5em;
    margin-top: .7613169208312066em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 6.875000000000001%;
    min-height: 1.2808641975308643em
  }
  .fr_bewaju .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 480px) {
  .fr_rufomi {
    display: block;
    margin-top: .5em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 7.419397463002114%
  }
}
@media screen and (max-width: 480px) {
  .fr_gadura {
    margin-top: .046875em;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    min-height: 23.5em
  }
}
@media screen and (max-width: 480px) {
  .fr_logatu {
    font-size: 1.5em;
    margin-top: 1.4351802239051235em
  }
}
@media screen and (max-width: 320px) {
  .fr_kosota {
    margin-top: .078125em;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    min-height: 54.25em
  }
}
@media screen and (max-width: 320px) {
  .fr_bewaju {
    width: 87.1875%;
    font-size: 3.35em;
    margin-top: .5693753907446355em;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 4.6875%;
    background-size: auto;
    min-height: 2.7160493827160495em
  }
  .fr_bewaju .fr-text {
    min-width: 100%
  }
}
@media screen and (max-width: 320px) {
  .fr_rufomi {
    font-size: 1.35em;
    margin-top: .37037037037037035em
  }
}
@media screen and (max-width: 320px) {
  .fr_rokecu {
    display: block;
    margin-top: 1.8505859375em
  }
}
@media screen and (max-width: 320px) {
  .fr_gadura {
    margin-top: .046875em;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    min-height: 22.125em
  }
}
@media screen and (max-width: 320px) {
  .fr_logatu {
    font-size: 1.6em;
    margin-top: 1.3454814599110532em
  }
}
@media screen and (max-width: 320px) {
  .fr_bibove {
    margin-top: 2.25em;
    margin-right: 0;
    margin-bottom: 0;
    min-height: 29.8125em
  }
}

/** ******************************** **/
/** End of widget styles             **/
/** ******************************** **/